<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.myapp.board.mapper.BoardConfigMapper">
 
    <select id="boardConfigList" resultType="com.myapp.board.domain.BoardConfigVO">
        select * from BOARDCONFIG
    </select>
 
    <select id="boardConfigView" parameterType="String" resultType="com.myapp.board.domain.BoardConfigVO">
        select * from BOARDCONFIG where BOARD_TABLE = #{BOARD_TABLE}
    </select>
    
    <insert id="boardCofigInsert" parameterType="hashmap">
    	<!-- 게시판 설정 입력 -->
        INSERT into BOARDCONFIG values (#{boardconfig.board_table},#{boardconfig.board_name})
    </insert>
    
    <insert id="boardCreate" parameterType="hashmap">
    	<!-- 게시판 테이블 생성 -->
    	CREATE TABLE board_${boardconfig.board_table}(
       		BNO 		NUMBER NOT NULL, 
			SUBJECT 	VARCHAR2(50) NOT NULL, 
			CONTENT 	VARCHAR2(1024), 
			WRITER 		VARCHAR2(50) NOT NULL, 
			REG_DATE 	DATE NOT NULL, 
			HIT 		NUMBER,
			CONSTRAINT  board_${boardconfig.board_table}_id_pk PRIMARY KEY(BNO)
       )
    </insert>
    
    <insert id="boardCreateSequence" parameterType="hashmap">
    	<!-- 게시판 시퀀스 생성 -->
    	create sequence board_${boardconfig.board_table}_sequence start with 1 increment BY 1 maxvalue 10000
    </insert>
    
    <update id="boardConfigUpdate" parameterType="hashmap">
    	update BOARDCONFIG set BOARD_NAME = #{boardconfig.board_name} where BOARD_TABLE = #{board_table}
    </update>
    
    <delete id="boardConfigDelete" parameterType="hashmap">
    	delete from BOARDCONFIG where BOARD_TABLE = #{board_table}
    </delete>
    
    <delete id="boardDrop" parameterType="hashmap">
    	DROP TABLE board_${board_table} 
    </delete>
    
    <delete id="boardDeleteSequence" parameterType="hashmap">
    	drop sequence board_${board_table}_sequence
    </delete>
    
</mapper>