<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.myapp.member.mapper.MemberMapper">
 
    <insert id="memberInsert" parameterType="hashmap">
        insert into MEMBER (USERNAME,PASSWORD,NAME)
            values
        (#{member.username},#{member.password},#{member.name})
    </insert>
    
    
    <select id="readUser" parameterType="String" resultType="com.myapp.member.domain.MemberVO">
          SELECT * FROM MEMBER WHERE username = #{username}
     </select>
     
     <select id="readAuthority" parameterType="String" resultType="String">
          SELECT AUTHORITY_NAME FROM AUTHORITY WHERE username = #{username}
     </select>
     
      <insert id="createUser" parameterType="com.myapp.member.domain.MemberVO">
          INSERT INTO MEMBER (username, password, name, IS_ACCOUNT_NON_EXPIRED, IS_ACCOUNT_NON_LOCKED, IS_CREDENTIALS_NON_EXPIRED, IS_ENABLED)
                    VALUES (#{username}, #{password}, #{name}, #{is_account_non_expired}, #{is_account_non_locked}, #{id_credentials_non_expired}, #{id_enabled})
     </insert>
     
     <insert id="createAuthority" parameterType="org.springframework.security.core.GrantedAuthority">
          INSERT INTO AUTHORITY (username, authority_name)
                    VALUES
                         <foreach item="authority" index="index" collection="authorities" separator=",">
                              (#{username}, #{authority.role})
                         </foreach>
     </insert>
     
     <delete id="deleteUser" parameterType="String">
          DELETE FROM MEMBER WHERE username = #{username}
     </delete>
     
     <delete id="deleteAuthority" parameterType="String">
          DELETE FROM AUTHORITY WHERE username = #{username}
     </delete>
    
</mapper>